In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt
from statistics import mean

import requests

In [5]:
combine_data = {}

for year in range(2012, 2023):
    # Read the CSV file for the current year
    combine_data[year] = pd.read_csv(f'le code/Data/college/{year}_combine.csv')
    
    # Filter for rows where the 'Pos' column is WR
    combine_data[year] = combine_data[year][combine_data[year]['Pos'] == 'WR']

In [6]:
all_years = pd.concat(combine_data.values(), ignore_index=True)
all_years

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Joe Adams,WR,Arkansas,5-11,179.0,4.51,36.0,NaN,123.0,7.09,NaN
1,Tim Benford,WR,Tennessee Tech,5-11,205.0,4.51,NaN,15.0,NaN,NaN,NaN
2,Travis Benjamin,WR,Miami (FL),5-10,172.0,4.31,38.0,14.0,119.0,NaN,NaN
3,Justin Blackmon,WR,Oklahoma State,6-1,207.0,4.46,NaN,14.0,NaN,NaN,NaN
4,Jarrett Boykin,WR,Virginia Tech,6-2,217.0,4.62,36.0,11.0,123.0,7.12,4.28
...,...,...,...,...,...,...,...,...,...,...,...
523,Isaiah Weston,WR,Northern Iowa,6-4,214.0,4.42,40.0,20.0,135.0,NaN,NaN
524,Devon Williams,WR,Oregon,6-5,210.0,4.65,33.0,NaN,133.0,NaN,NaN
525,Jameson Williams,WR,Alabama,6-2,179.0,NaN,NaN,NaN,NaN,NaN,NaN
526,Garrett Wilson,WR,Ohio St.,6-0,183.0,4.38,36.0,NaN,123.0,NaN,4.36
527,Mike Woods,WR,Oklahoma,6-1,204.0,4.55,34.5,NaN,125.0,NaN,NaN

In [22]:
all_data = pd.read_excel('le code/Data/college/combinedata.xlsx')
all_data[all_data['Name'] == "JaMarr Chase"]

,Year,Name,College,POS,HeightÂ (in),WeightÂ (lbs),Hand SizeÂ (in),Arm LengthÂ (in),Wonderlic,40Â Yard,Bench Press,Vert LeapÂ (in),Broad JumpÂ (in),Shuttle,3Cone
49,2021,JaMarr Chase,Louisiana State,WR,72.38,201,9.625,30.75,NaN,4.34,NaN,41.0,132.0,3.99,6.96

In [24]:
all_data.to_csv('all_combine_data.csv' , index= False)